<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="main_index">
        <h1> Welcome to our todo website</h1>
        <p>Welcome to our ToDo website, your personal task management hub! With our user-friendly platform, you can easily jot down your tasks, mark them as completed, and even remove them when you're done. We understand the importance of keeping your life organized, and that's why we've designed this platform to help you stay on top of your to-do list.</p>
        <ol>
            <li>Task Creation: Quickly note down your tasks and to-dos, ensuring that nothing slips through the cracks.</li>
            <li>Mark as Completed: Once you've accomplished a task, a simple click will mark it as completed, giving you a sense of achievement and clarity.</li>
            <li>Deletion: Completed a task, but no longer need it cluttering your list? You can easily delete it to keep your list concise and focused.</li>
            <li>User-Friendly Interface: Our website is designed to be intuitive and easy to navigate, making your task management experience as smooth as possible.</li>
        </ol>
        <p>Stay organized, stay productive! Start using our ToDo website today and take control of your daily tasks with ease. Your to-dos are just a click away from being managed and accomplished.</p>
        <a href="/signup">Get Started</a>
        <a href="/login">Already a user?</a>
    </div>
    
</body>
</html>